Source: rot
Section: unknown
Priority: optional
Maintainer: Gokulakrishnan Shankar <gokulakrishnan@unknown>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/rot
#Vcs-Git: https://salsa.debian.org/debian/rot.git

Package: rot
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
